{% extends "base.html.twig" %}
{% block title %}
  Add Business
{% endblock %}
{% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="./css/style.css" />
	<link rel="stylesheet" type="text/css" href="./css/colorbox.css" />
  
{% endblock %}

{% block javascripts %}
  <script src="js/jquery/jquery-1.8.3.min.js"></script>
  <script type="text/javascript" src="./js/jquery/jquery.price_format.1.6.js"></script>
  <script type="text/javascript" src="./js/jquery/mascara.js"></script>
  <script type="text/javascript" src="./js/add.js"></script>
  <script type="text/javascript" src="./js/jquery/jquery.validate.js"></script>
  <script type="text/javascript" src="./js/jquery/jquery-confirm.js"></script>
  <script type="text/javascript" src="./js/jquery/jquery.maskedinput.min.js"></script>
{% endblock %}

{% block body %}
<div id="container">
		<div id="header">
			<div class="div1">
				<img src="./img/logo.svg" alt="arca solutions"/>
			</div>
		</div>
		<div id="content">
      <h1>Business Finder Admin</h1>
      
			<div id="msg_erro">&nbsp;</div>
				 <div class="detalhes">
				   <h3>Add Business</h3>
				   <label>Title</label>
					 <input type="text" name="title" id="title" value="" class="form-add">
					 <label>Phone</label>
					 <input type="text" name="phone" id="phone" value="" class="form-add">
					 <label>Zipcode</label>
					 <input type="text" name="zipcode" id="zipcode" value="" class="form-add" onblur="buscaCEP(this.value);"><strong><span id="id_aguarde"></span></strong>
			     <label>Address</label>
					 <input type="text" name="address" id="address" value="" class="form-add">
					 <label>City</label>
					 <input type="text" name="city" id="city" value="" class="form-add">
					 <label>State</label>
					 <select name="state" id="state" class="form-add">
						<option value="">-- selecione --</option>
						<option value="AC">Acre</option>
						<option value="AL">Alagoas</option>
						<option value="AP">Amapá</option>
						<option value="AM">Amazonas</option>
						<option value="BA">Bahia</option>
						<option value="CE">Ceará</option>
						<option value="DF">Distrito Federal</option>
						<option value="ES">Espírito Santo</option>
						<option value="GO">Goiás</option>
						<option value="MA">Maranhão</option>
						<option value="MT">Mato Grosso</option>
						<option value="MS">Mato Grosso do Sul</option>
						<option value="MG">Minas Gerais</option>
						<option value="PA">Pará</option>
						<option value="PB">Paraíba</option>
						<option value="PR">Paraná</option>
						<option value="PE">Pernambuco</option>
						<option value="PI">Piauí</option>
						<option value="RJ">Rio de Janeiro</option>
						<option value="RN">Rio Grande do Norte</option>
						<option value="RS">Rio Grande do Sul</option>
						<option value="RR">Rondônia</option>
						<option value="RO">Roraima</option>
						<option value="SC">Santa Catarina</option>
						<option value="SE">Sergipe</option>
						<option value="SP">São Paulo</option>
						<option value="TO">Tocantins</option>
					</select>
					<label>Description</label>
					 <textarea name="description" id="description" rows ="10" cols="30" class="form-add"></textarea>
				 </div>
				 <p>
				   <a onclick="window.location.href='./login';" class="btn-button" href="javascript:;"><span>Save</span></a>
				   <a onclick="window.location.href='./admin';" class="btn-button" href="javascript:;"><span>Cancel</span></a>
				 </p>
              
		</div>	
  </div>	
</body>
{% endblock %}
